<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @work.titulo %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @work.descripcion %>
</p>

<p>
  <strong>Usuarioid:</strong>
  <%= @work.usuarioID %>
</p>

<p>
  <strong>Portada:</strong>
  <%= @work.portada %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @work.tipo %>
</p>

<%= link_to 'Edit', edit_work_path(@work) %> |
<%= link_to 'Back', works_path %>
